/* GENERAL
--------------------------------- */
* {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}
body {
    background-color: hsl(185, 75%, 39%);
    background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
    background-position: top -400px left -200px, right -240px bottom -600px;
    background-repeat: no-repeat;
    background-size: 800px auto;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    position: relative;
    top: 15vh;
}
main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: 350px;
    border-radius: 10px;
}
.bigger {
    font-weight: 700;
}
.smaller {
    color: hsl(0, 0%, 59%);
    font-size: 13px;
}
.remove_margin {
    margin: 5px;
}

/* CONTENT
--------------------------------- */
.bubble {
    position: relative;
}
.bubble_pic {
    border-top-left-radius: 10px;    
    border-top-right-radius: 10px;
}
.profile_pic {
    position: absolute;
    top: 60%;
    left: 127px;
    border: 5px solid white;
    border-radius: 50%;
}
.name-age {
    display: flex;
    flex-flow: row nowrap;
}
.name, .age {
    margin-top: 75px;
}
.name {
    margin-right: 10px;
}
.age {
    margin-left: 10px;
    color: hsl(0, 0%, 59%);
}
.place {
    color: hsl(0, 0%, 59%);
    margin: 0;
}
.stats {
    margin-top: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    border-top: 1px solid hsl(0, 0%, 59%);
    width: 350px;
    padding: 20px 0px;
}
.go_left {
    margin-right: 20px;
}
.go_right {
    margin-left: 20px;
}
